.layout {
  display: flex;
  flex-direction: column;

  height: 100vh;
}

header {
  display: flex;
  align-items: center;
  min-height: 60px;
  max-height: 10vh;
  flex-shrink: 0;
  padding: 0px 0px 0px 30px;
  background: var(--color-bg);

  border-bottom: 3px solid var(--color-secundary);

  position: sticky;
  top: 0;
  z-index: 1000;
}

h1 {
  font-size: clamp(2rem, 5vh, 4rem);
  font-weight: 800;
  color: var(--color-primary);
}

main {
  display: flex;
  flex: 1;
}
