.results-page {
  display: flex;
  justify-content: center;

  height: 100%;
  width: 100%;

  gap: 30px;
}

.results-page > .left-panel {
  width: 40%;
  height: 100%;
  min-width: 300px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 20px;
}

.result-metrics {
  width: 70%;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;

  background-color: var(--color-bg);
  border: 2px solid var(--color-secundary-light);

  border-radius: 8px;
  padding: 15px 20px;
  font-size: 16px;
  text-align: left;
}

.result-metrics h2 {
  font-size: 20px;
  margin-bottom: 10px;
  color: var(--color-secundary);

  text-align: center;
  border-bottom: 2px solid var(--color-primary);

  padding-bottom: 5px;
}

.result-metrics .metric-item {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  font-size: 16px;
  border-bottom: 1px solid var(--color-secundary-light);
  gap: 10px;
}

.result-metrics .metric-item:last-child {
  border-bottom: none;
}

.result-metrics .metric-name {
  font-weight: bold;
  text-align: left;
}

.result-metrics .metric-value {
  display: flex;
  align-items: center;
}

.result-metrics .metric-item .metric-value {
  max-width: 60%;
  min-width: 50px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  justify-content: center;
  align-self: center;
  text-align: right;
}

.right-panel {
  width: 60%;
  min-width: 370px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.margin-of-sales {
  display: flex;
  justify-content: space-between;
  width: 70%;
  font-weight: bold;
  margin-bottom: 1rem;
  padding: 10px;
  border-bottom: 2px solid var(--color-primary);
}

.margin-of-sales > p {
  font-size: 18px;
  color: var(--color-secundary);
}

.margin-of-sales > span {
  font-size: 18px;
  color: var(--color-secundary);
}

.results-table {
  width: 70%;
  min-height: 450px;
  border-collapse: collapse;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.results-table th,
.results-table td {
  border: 1px solid #e0e0e0;
  padding: 10px;
  text-align: left;
}

.results-table th {
  background-color: var(--color-secundary);
  color: var(--color-bg);
  font-weight: 700;

  cursor: pointer;
}

.results-table td:first-child {
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.results-table th:nth-child(2),
.results-table td:nth-child(2) {
  min-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.results-table th:nth-child(1),
.results-table td:nth-child(1) {
  width: 55%;
}

.results-table th:nth-child(2),
.results-table td:nth-child(2) {
  width: 25%;
}

.results-table th:nth-child(3),
.results-table td:nth-child(3) {
  width: 25%;
}

.results-table td:nth-child(3) {
  text-align: center;
}

.results-table tr:nth-child(even) {
  background-color: #f8f9fa;
}

.results-table tr:hover {
  background-color: #e9ecef;
}

.th-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sort-icon {
  margin-left: 8px;
  font-size: 0.9em;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.page-info {
  display: flex;
  align-items: center;
  font-size: 16px;
}

.results-page-input {
  width: 50px;
  text-align: center;
  font-size: 14px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 0 5px;
}
